@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../imgs/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px;
  text-align: center;
  background-color: #fff;
  flex-direction: column;
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.register {
  margin-top: 20px;
}

.container h1 {
  margin-bottom: 10px;
  font-size: 2.7em;
}

.container p {
  color: #444444;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid rgb(184, 184, 184);
  padding: 10px;
  font-size: 20px;
  position: relative;
}

form .fullname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form .fullname input {
  width: 190px;
}

form button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #2a2185;
  border: none;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.person {
  position: absolute;
  top: 335px;
  right: 480px;
}

.eye, .eye-r, .eye-r2 {
  position: absolute;
  top: 405px;
  right: 480px;
  cursor: pointer;
}

.eye-r {
  top: 415px;
  right: 470px;
}

.eye-r2 {
  top: 485px;
  right: 470px;
}

ion-icon {
  font-size: 30px;
  color: rgb(151, 149, 149);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}


.bg-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  top: 28vh;
  left: 31vw;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  width: 500px;
  height: 300px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8em;
  padding: .5em;
}

.modal img {
  height: 100px;
}

.modal button {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #2a2185;
  margin-left: 20px;
  color: #fff;
  transition: .2s ease-out;
  border: none;
}

.modal button:hover {
  transform: scale(1.1); 
}