/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --note-red: #ff686b;
  --note-blue: #5aa9e6;
  --note-green: #adf7b6;
  --note-orange: #ffd670;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li:nth-child(1){
  display: block;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: flex;
  align-items: space-between;
  display: block;
  padding: 0 10px;
  height: 5px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  padding: 10px 40px;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user, .user-profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.user img, .user-profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.user-profile {
  width: 250px;
  height: 250px;
  margin: auto;
}

.user-profile ion-icon {
  font-size: 100px;
  color: #fff;
  position: absolute;
  top: 80px;
  left: 80px;
  display: none;
}

.title, .title-profile {
  margin: 30px;
  font-size: 30px;
  color: var(--black1);
}

.title-profile {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

#loading {
  display: none;
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 9999;
}

.cardBox .message {
  text-align: center;
}

.cardBox .card {
  width: 260px;
  height: 300px;
  position: relative;
  background: salmon;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .card-header {
  margin-bottom: 15px;
}

.cardBox .card .card-title {
  position: relative;
  overflow: hidden;
  max-height: 80px;
  font-weight: 500;
  font-size: 2rem;
  color: var(--black1);
}

.cardBox .card .card-header .tags {
  height: 20px;
  overflow: hidden;
}

.cardBox .card .s-between {
  height: 190px;
  overflow: hidden;
}

.cardBox .card .card-body {
  color: var(--black1);
  font-size: 1rem;
  margin-top: 5px;
}

.cardBox .card .card-footer p {
  font-size: 15px;
}

.cardBox .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBox .card .card-footer .action .icon {
  padding: 10px;
  background-color: var(--black1);
  color: var(--white);
  border-radius: 50%;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-input {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-input input {
  margin-bottom: 50px;
  border: none;
  width: 80%;
  border-bottom: 3px solid var(--blue);
  font-size: 30px;
  padding: 15px;
}

.add-input-profile input {
  width: 50%;
}

.add-input input:hover,
.add-input input:focus {
  background-color: #d6d6d6;
}

.add-input input:focus {
 border: none;
}

.add-input textarea {
  width: 80%;
  height: 200px;
  font-size: 30px;
  border: 3px solid var(--blue);
  border-radius: 10px;
  padding: 10px 20px;
}

.add-input-profile textarea {
  width: 50%;
}

.add-input .action {
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.add-input .action .btn, .btn-back, .btn-edit-profile {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: var(--blue);
  margin-left: 20px;
  color: var(--white);
  transition: .2s ease-out;
  border: none;
  cursor: pointer;
}

.add-input .action .btn:hover {
  transform: scale(1.1);
}

.btn-back {
  width: 130px;
  height: 50px;
  margin: 30px;
  font-size: 1em;
}

.btn-edit-profile {
  width: 300px;
  font-size: 1em;
  margin: 0;
  margin-top: 15px;
}

.colors {
  margin-top: 20px;
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.colors .color {
  width: 3.9em;
  height: 100%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 6px 2px #a3a3a3;
  border-radius: 50%;
}

.colors .color:hover {
  opacity: .5;
}

.colors .red{
  background-color: var(--note-red);
}

.colors .blue {
  background-color: var(--note-blue);
}

.colors .green {
  background-color: var(--note-green);
}

.colors .orange {
  background-color: var(--note-orange);
}

.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  position: sticky;
  top: 28vh;
  left: 35vw;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  width: 500px;
  height: 300px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8em;
  padding: .5em;
}

.modal img {
  height: 100px;
}

.modal button {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--blue);
  margin-left: 20px;
  color: var(--white);
  transition: .2s ease-out;
  border: none;
}

.modal button:hover {
  transform: scale(1.1); 
}

.footer {
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  font-size: 20px;
  line-height: 70px;
  margin-top: 100px;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation.active {
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  
  body {
    height: fit-content;
  }

  .container h1 {
    margin-top: 30px;
  }

  .cardBox {
    margin-bottom: 100px;
  }

  .cardBox .card {
    width: 100%;
  }

  .navigation ul li:nth-child(1){
    display: none;
  }

  .title {
    font-size: 20px;
    margin: 10px 20px;
  }

  .title-profile {
    font-size: 15px;
    margin: 15px;
  }

  .add-input-profile input, .add-input-profile textarea {
    width: 80%;
  }

  .btn-back {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }

  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }

  .add-input input, .add-input textarea {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .colors {
    width: 80%;
  }

  .add-input .action {
    width: 70%;
  }

  .user {
    min-width: 40px;
  }

  .navigation.active{
    height: 80px;
    width: 100%;
    /* left: -100%; */
    bottom: 0;
    z-index: 1000;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .navigation ul li {
    border-radius: 30px;
  }

  .navigation ul li:hover, .navigation ul li.hovered {
    display: block;
    width: 100%;
  }

  .navigation ul li:hover a::before, .navigation ul li.hovered a::before,
  .navigation ul li:hover a::after, .navigation ul li.hovered a::after {
    display: none;
  }

  .navigation ul li a {
    display: block;
  }

  .main.active {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
  }

  .footer {
    margin-top: 50px;
    font-size: 13px;
  }

  .modal {
    width: 300px;
    top: 28vh;
    left: 10vw;
    font-size: 18px;
    height: 220px;
  }

  .modal img {
    width: 70px;
    height: 70px;
  }
}

@keyframes fadeIn {
  0% {transform: scale(0);}
  60% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes fadeOut {
  0% {transform: scale(1);}
  40% {transform: scale(1.1);}
  100% {transform: scale(0);}
}